<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>

<body>
<span th:replace="~{home :: navBar}"></span>

    <form th:action="@{/student/add}" method="post" th:object="${student}">
        <label for="lastname">Nom :</label>
        <input th:field="*{lastname}" type="text" id="lastname" name="lastname">

        <label for="firstname">Prenom :</label>
        <input th:field="*{firstname}" type="text" id="firstname" name="firstname">

        <label for="age">Age :</label>
        <input th:field="*{age}" type="number" id="age" name="age">

        <label for="email">Email :</label>
        <input th:field="*{email}" type="text" id="email" name="email">

        <button>Ajouter</button>

    </form>
</body>
</html>